<h1>Address Table</h1>

<div class="content">
    
    <h3>Search</h3>
    <!-- https://docs.angularjs.org/api/ng/filter/filter -->
    <br />
    <br /> 
    
    <table class="gridtable">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Email</th>                
                <th></th>
            </tr>
        </thead>    
        
        <tr ng-repeat="address in addresses"> <!-- when usin scopes, you dont need to type scope.address for example -->
            <td>{{address.fullname}}</td>                  
            <td>{{address.email}}</td>
            <td><a ng-href="#/address/{{address.address_id}}">View</a></td>
            <!-- poundsign is needed first to change the url without changing the page -->
        </tr>
    </table>
        
</div>

